body {
  margin: 0px;
}

div.sidebarcontainer {
  display: flex;
}

div.sidebar {
  width: 15%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

div.sidebar.left {
}

div.sidebar.right {
}

div.pagecontent {
  padding: 0px 20px;
  background-color: #366c7c87;
}

div.pagecontent > div.main-title {
  font-size:xx-large;
  text-align: center;
}

p.desc {
  font-size: large;
  text-align: center;
}

p.desc > span.title {
  font-size: larger;
}

div.proj-box {
	padding: 10px;
}

div.proj-box-inner {
	padding: 5px;
	background-color:#01020214;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.rainbow-text-animated {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    purple
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-animation 4s linear infinite;
  background-size: 400% 100%;
}

@keyframes rainbow-animation {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}
